<div id="container" class="container mt-5">
  <!-- Barre de progression -->
  <div class="progress px-1 mb-4" style="height: 4px;">
    <div
      class="progress-bar"
      role="progressbar"
      [style.width]="progress + '%'"
      [attr.aria-valuenow]="progress"
      aria-valuemin="0"
      aria-valuemax="100">
    </div>
  </div>

  <!-- Bulles de progression -->
  <div class="step-container d-flex justify-content-between mb-4">
    <div class="step-circle" [class.active]="step === 1" (click)="displayStep(1)">1</div>
    <div class="step-circle" [class.active]="step === 2" (click)="displayStep(2)">2</div>
    <div class="step-circle" [class.active]="step === 3" (click)="displayStep(3)">3</div>
  </div>

  <!-- Étape 1 -->
  <div *ngIf="step === 1" class="form-step">
    <h5 class="font-weight-bold">Étape 1 : Informations Générales</h5>
    <label for="userName" class="form-label mt-3"><h3>Prénom</h3></label>
    <input type="text" id="userName" class="form-control" [(ngModel)]="formData.userName" required />

    <label for="userAge" class="form-label mt-3"><h3>Âge</h3></label>
    <input type="number" id="userAge" class="form-control" [(ngModel)]="formData.userAge" />

    <label for="userGender" class="form-label mt-3"><h3>Sexe</h3></label>
    <select id="userGender" class="form-select" [(ngModel)]="formData.userGender">
      <option value="">-- Choisissez --</option>
      <option value="homme">Homme</option>
      <option value="femme">Femme</option>
      <option value="femme">Autre</option>
    </select>

    <button class="btn btn-primary mt-3 float-end" (click)="nextStep()">Suivant</button>
  </div>

  <!-- Étape 2 -->
  <div *ngIf="step === 2" class="form-step">
    <h5 class="font-weight-bold">Étape 2 : Questions médicales</h5>
    <label for="userWeight" class="form-label mt-3"><h3>Poids</h3></label>
    <input type="number" id="userWeight" class="form-control" [(ngModel)]="formData.userWeight" required />

    <label for="userSize" class="form-label mt-3"><h3>Taille</h3></label>
    <input type="number" id="userSize" class="form-control" [(ngModel)]="formData.userSize" required />

    <label for="userBloodType" class="form-label mt-3"><h3>Groupe sanguin</h3></label>
    <select id="userBloodType" class="form-select" [(ngModel)]="formData.userBloodType" required>
      <option value="">-- Choisissez --</option>
      <option value="comprimé">Inconnu</option>
      <option value="comprimé">A+</option>
      <option value="sirop">A-</option>
      <option value="comprimé">B+</option>
      <option value="sirop">B-</option>
      <option value="comprimé">AB+</option>
      <option value="sirop">AB-</option>
      <option value="comprimé">0+</option>
      <option value="sirop">0-</option>
    </select>

    <div class="d-flex justify-content-between mt-4">
      <button class="btn btn-secondary" (click)="prevStep()">Précédent</button>
      <button class="btn btn-primary" (click)="nextStep()">Suivant</button>
    </div>
  </div>

  <!-- Étape 3 -->
  <div *ngIf="step === 3" class="form-step">
    <h5 class="font-weight-bold">Étape 3 : Compléments</h5>
    <label for="userComments" class="form-label mt-3"><h3>Ajoutez des commentaires</h3></label>
    <input type="text" id="userComments" class="form-control" [(ngModel)]="formData.userComments" />

    <div class="d-flex justify-content-between mt-4">
      <button class="btn btn-secondary" (click)="prevStep()">Précédent</button>
      <button class="btn btn-primary" (click)="submitForm()">Soumettre</button>
    </div>
  </div>
</div>